@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.game-container{
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../imgs/fundo1.png);
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
    
}

#target{
    width: 132px;
    height: 91px;
    position: absolute;
}

label{
    font-size: 20px;
}

footer {
    background: #0e2610;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    padding: 2.5rem;
    align-items:end;
}

#pontuacao{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #022104df;
    color: #FFF;
    gap: 3rem;
}
#acerto, #erros, #total, #div-timer{
    padding: 20px;
    justify-content: center;
    font-size: 15px;
}
#div-timer{
    background-color: black;
}


.container{
    position: absolute;
    width: 25%;
    height: 400px;
    background-color: #0e2610;
    color: #FFF;
    border-radius: 25px;
    text-align: center;
    top: 20%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div > form{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    flex-direction: column;
}
#btn-rank{
    border-radius: 0.625rem;
    border: 1px solid #10921D;
    background: #FFF; 
    width: 14rem;
    height: 2.5rem;
    flex-shrink: 0; 
    color: #1D5F24; 
    font-weight: 700; 
}
h2{
    padding: 20px;
}


.content{
    display: grid;
    gap: 20px;
    padding: 25px;
}

@media screen and (max-width:700px){
    #target{
        width: 122px;
        height: 81px;
    }
    #rodape {
        width: 100wh;
    }
    div > p{
        font-size: 7px;
    }
    div > h4{
        font-size: 7px;
    }
    #text_reservado{
        font-size: 7px;
    }
    #pontuacao{
        display: flex;
        gap: 10px;
        justify-content: center;
        text-align: center;
    }
    #acerto, #erros, #total{
        padding: 20px;
        width: 5rem;
        justify-content: center;
        font-size: 10px;
    }
}
@media screen and (max-width:450px){
    
    h1{
        font-size: 25px;
    }
    #rodape {
        width: 100wh;
    }
    div > p{
        font-size: 5px;
    }
    div > h4{
        font-size: 5px;
    }
    #text_reservado{
        font-size: 5px;
    }
    #pontuacao{
        display: flex;
        gap: 5px;
        justify-content: center;
        text-align: center;

    }
    #acerto, #erros, #total{
        padding: 10px;
        width: 5rem;
        justify-content: center;
        font-size: 10px;
    }

}
.game-container:hover {
    cursor: url(../imgs/crosshair.svg),auto;
}
