@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    color: #0F0925;
    font-family: 'Lexend', sans-serif;
}
#game{
    width: 70vw;
    height: 70vh;
    background-image: url("../imgs/fundo1.png");
    background-size: cover;
    background-position: center;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
}
main{
    display: grid;
    place-content: center;
}
#pontuacao{
    display: flex;
    gap: 25px;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
#acerto, #erros, #total{
    padding: 20px;
    width: 11rem;
    border-radius: 0.625rem;
    border: 1px solid #C2C2C2;
    background: #F6F6F6; 
    display: grid;
    justify-content: center;
}
h1{
   padding: 25px;
   text-align: center;
}
h3{
    font-weight:bold;
}
#rodape{
    background: #0F0925;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    padding: 2.5rem;
    align-items:end;
}
#text_reservado{
    color: #63598a;
    text-align: justify;
}
#rodape > p{
    font-weight: 200;
}
#rodape > h4{
    font-weight: bolder;
}
.movable-image {
    position: absolute;
}
@media screen and (max-width:700px){
    #rodape {
        width: 100wh;
    }
    div > p{
        font-size: 7px;
    }
    div > h4{
        font-size: 7px;
    }
    #text_reservado{
        font-size: 7px;
    }
    #pontuacao{
        display: flex;
        gap: 10px;
        justify-content: center;
        text-align: center;
        padding: 25px;
    }
    #acerto, #erros, #total{
        padding: 20px;
        width: 5rem;
        justify-content: center;
        font-size: 10px;
    }
}
@media screen and (max-width:450px){
    h1{
        font-size: 25px;
    }
    #rodape {
        width: 100wh;
    }
    div > p{
        font-size: 5px;
    }
    div > h4{
        font-size: 5px;
    }
    #text_reservado{
        font-size: 5px;
    }
    #pontuacao{
        display: flex;
        gap: 5px;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    #acerto, #erros, #total{
        padding: 10px;
        width: 5rem;
        justify-content: center;
        font-size: 10px;
    }

}
.game-container:hover {
    cursor: url(../imgs/crosshair.svg),auto;
}
